:host {
    position: relative;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    // margin: 10px;
}

canvas {
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-style: solid;
}