:host {
    width: 100%;
    height: 100%;
}

.headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
}

h1 {
    background-color: #FFBAFD;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
}
