version: "3.3"

services:
  whiteboard_server:
    container_name: 'whiteboard_server'
    ports:
      - "13370:13370"
      - "8888:8888"
    build:
      context: .
    restart: always
    image: levalleuxludo/my_repo:whiteboard_server
    env_file: .env
